body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 380px) {
  #slider {
    display: none;
  }
}

input[type=range] {
  height: 5px;
  background-color: aqua;
  opacity: .5;
  outline:none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: block;
} 

footer {
  text-align: right;
  color: lightgray;
}

@media only screen and (max-width: 380px) {
  footer {
    margin-top: 150px;
  }
}

footer p {
  margin-right: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

footer a {
  color: forestgreen;
}


